# Development
.vscode

# Project metadata
*.md
*.png

# Environment
*.env
*env

# Docker
*Dockerfile*
docker-compose.yml

# Metrics and tests
tests
screenshots
statistics
tmp
temp

# Binaries
bin/cadvisor
bin/monitor
